.service_container p
{
	color: #330000; 
}

.service_container b
{
	color: #330000; 
}

.service_container h2, h3, h4, h5, h6
{
	color: #330000;
	text-align: left;
	margin-bottom: 10px; 
}

.service_container ul li
{
	padding: 5px;
}

.service_container ul li i
{
	margin-right: 20px; 
	color: #b32400;
}

.slider-services {
    background-image: url(../img/hero/services_2.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover
}